/* CONTENT REGISTRATION is the main content of this page
It includes login Box and Register Box */

#contentRegistration{

	min-height: 550px; 
	height: auto;
	margin: auto;
	font-size: 13px;
	text-align: left;
	padding-bottom: 40px; 
	width: 70%;
}


/* Login Box */

#loginBox{
	width: 100%;
	float: left;
	height: 100px;
	margin-bottom: 60px;
	margin-top: 20px;
}

#toggle{
    background-color: white;
	border: none;
	text-decoration: none;
}


/* Register Box */

.title{
	font-size: 23px;
	text-decoration: bold;
	color: #0b4701;
}

.subtitle{
	font-size: 19px;
	text-decoration: none;
	color: #0b4701;
}


#registerBox{
	width: 100%;
	float: left;
	height: 100%;	
	margin-top: 20px;
	margin-bottom: 20px;
}


.displayInline{
	display: inline-block;
}

#registerBoxLeft{
	width: 50%;
	float: left;
}

#registerBoxRight{
	width: 50%;
	float: right;
}


.submit {
    background-color: #1c5a04;
    border: none;
    color: white;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 4px;
}


a{
	text-decoration: none;
}

.alert{
	font-size: 12px;
	color: red;
	/*display: none;*/

}

/*input:invalid {
	border-color: red;
	border-width: 1px;
}*/