
/* CONTENTSEARCH*/

#contentsearch {
	background-color: white;
	text-align:center;
	height: auto;
	padding-bottom: 40px;
}

/*TOPAREA*/
#toparea{
	width: 100%;
}

#topareawrapper{
	width: 100%;
	height: auto;
}

/*FINDER*/

#finderintro {
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 10pt;
}

#finderinput{
	color: #1c5a04;
	text-decoration: bold;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

#geolocationInstruction{
	font-size: 13px;
}


#finderinput input,select {
	margin-left: 15px;
	margin-right: 15px;
	size: 35px;
}



#submit :hover{
    background-color: #0b4701;
}


/*BOTTOMAREA*/

#bottomarea{
	width: 100%;
	height: auto;
}

#bottomareawrapper{
	width: 90%;
	height: auto;
	margin: auto;
	text-align: center;
	margin-top: 50px;
}

#sidebar{
	float: right;
	width: 200px;
}

.title{
	margin-top: 20px;
	font-size: 20px;
	text-decoration: bold;
	color: #1c5a04;
}

.instructions{
	color: black;
	font-size: 13px;
	margin-bottom: 350px;
}

#results{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	height: auto;
	margin-bottom: 100px;
}

#results a{
	color:black;
	text-decoration:none;
}

#results a:hover{
	color:#4db301;
}

#result-table{
	margin: auto;
	border:solid;
	border: 0.5px solid #ccc;
	width:100%;
	font-size:12px;
}

#result-table thead{
	background-color:#4db301;
	color:white;
}

#result-table tr:nth-child(even) {
	background-color:#DBDBDB; /* light gray every second line */
}

table, th,td {
padding:9px;
}

span{
	font-size: 20px;
	text-decoration: bold;
}


#mapholder{
	visibility: hidden;
	margin: auto;
}