/* CONTENTINDIVIDUALITEM*/
/* Contains Item head, Item Description and Item Reviews*/

#contentindividualitem {
	background-color: white;
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

#contentindividualitemwrapper{
	/*height: auto;*/
	min-height: 1000px;
}


/*ITEM HEAD*/

#itemhead{
	width: 100%;
	margin: auto;
	margin-top: 80px;
	width: 70%;
	height: 190px;
}

#itemheadwrapper{
	width:100%;
	height:100%;
	margin: auto;
}

#itemhead img{
	margin-top: 17px;
	margin-top: 0px;
	margin-left: 20px;
	float: left;
}

#itemheadtitle{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

#item-name{
	color: #1c5a04;
	font-size: 40px;
	font-weight: bold;
}

#rating-head{
	font-size: 20px;
}


/* ITEM DESCRIPTION*/

#itemdescription{
	width: 100%;
	margin: auto;
	margin-top: 40px;
}

#itemdescriptionwrapper{
	width: 70%;
	height: 200px;
	margin: auto;
}

#contactdetails{
	text-align: left;
	float: left;
	font-size: 13px;
	border: 0.5px solid #ccc;
	width: 400px;
}

.contactdetails {  
  font-weight: bold;
}


#tablecontactdetails{
	padding-right: 20px;
}

#contactdetailstitle{
	background-color:#4db301;
	color: white;
	padding: 9px;
	font-size: 15px;
}

#tablecontactdetails th,td {
	padding:9px;
}

#geolocation{
	float: right;
}


/* ITEM REVIEWS*/

#itemreviews{
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
	font-size: 13px;
}

#itemsreviewswrapper{
	width: 70%;
	margin: auto;
	height: 500px;
	text-align: left;
}

#reviewsinput{
	width: 50%;
	text-align: left;
	border: 0.5px solid #ccc;
	height: auto;
}

#itemsreviewstitle{
	background-color:#4db301;
	color: white;
	width: 98%;
	font-size: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
}

#myreview{
	margin-left: 9px;
	padding-bottom: 10px;
}

#reviewsinput button{
	margin-top: 8px;
	background-color: #1c5a04;
    border: none;
    color: white;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
	border-radius: 4px;
	float: right;
}

#reviewsinput button:hover{
    background-color: #0b4701;
}

#oldreviews{
	width: 50%;
    margin-top: 80px;
    float: left;
    height: auto;
    
}

#oldreviewstitle{
	color: #1c5a04;
	font-size: 18px;
	font-weight: bold;
}

#oldReviewsTable{
	border: 1px solid #d6d7d4;
	width: 100%;
	table-layout: fixed;
}

.firstColumn{
	width: 50px;
	color: #1c5a04;
	text-decoration: bold;
}

.secondColumn{
	width: 210px;
	
    /*max-width:210px;*/
    /*overflow: hidden;*/
}

td{word-wrap: break-word;}
