/*CONTENTINDEX is the main section of the webpage*/
/*Includes Top Area and Bottom area*/

#contentindex {
	background-color: white;
	text-align:center;
	height: auto;
	padding-bottom: 40px;
}


/*TOPAREA*/
/*Includes Content Picture and Finder Input*/

#toparea{
	width: 100%;
	height: auto;
}

/*Content picture*/

#contentpicture{
	width: 100%;
	left: 0px;
	position: relative;
}

#photohome{
	width: 100%;
}

/* text over main picture */
#transparentbox{
	width: 55%;
	height: 35%;
	position: absolute;
	left: 0px;
	bottom: 50px;
	background-color: #1c5a04;
	opacity: 0.3;
	filter: alpha(opacity=60);
}

/* text over main picture */
#firstline{
	width: 50%;
	position: absolute;
	bottom: 90px;
	text-align: left;
	left: 200px;
	font-size: 70px;
	color: white;
}

/* text over main picture */
#secondline{
	width: 60%;
	position: absolute;
	bottom: 70px;
	text-align: left;
	left: 200px;
	font-size: 15px;
	color: white;

}

/*Finder Input*/

#finderintro {
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 10pt;
}

#finderinput{
	color: #1c5a04;
	text-decoration: bold;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

#finderinput p{
	margin: auto;
	font-size:15px;
}

#finderinput input,select {
	margin-left: 15px;
	margin-right: 15px;
	size: 35px;
}

#finderinput button {
    margin-left: 25px;
	background-color: #1c5a04;
    border: none;
    color: white;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 4px;
}

#finderinput button:hover{
    background-color: #0b4701;
}


/* BOTTOMAREA*/
/*Includes Sidebar and Advertisements*/

#bottomarea{
	width: 100%;
	height: auto;
}

#bottomareawrapper{
	width: 90%;
	height: 500px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
}

/*Sidebar*/
#sidebar{
	float: right;
	width: 200px;
}

/*Advertisements*/
#advertisement-box{
	margin-right: auto;
	margin-left: auto;
	width: 550px;
	border: 0.5px solid #ccc;
	border-radius: 7px;
	height: 350px;
}

#topsheading {
	font-size: 13px;
	background-color:#4db301;
	height: 25px;
	margin-top: 25px;
	margin-bottom: 30px;
	padding-top: 20px; 
	padding-bottom: 5px; 
	color: white;
}

#ads{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	color: #1c5a04;
	font-size: 13px;
}

#ads span{
	margin-right: 18px;
	margin-left: 18px;
}

#adtop1{
	float: left;
	text-align: center;
}

#adtop2{
	float: right;
	text-align: center;
}

.topdescription{
	text-decoration: none;
	color: #1c5a04;
	font-weight: bold;
}

.topdescription:hover{
	color: #4db301;
}
