#contentphoto{
	text-align: center;
	margin: auto;
	height: auto;
	padding-bottom: 40px;
	padding-top: 50px;
	width: 70%;
}


table{
	/*border: 1px solid #d6d7d4;*/
	width: 70%;
	table-layout: fixed;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
}

td{
	word-wrap: break-word;
	font-size: 12px;
}

.idnumber{
	font-size: 11px;	
}

.teamName{
	font-size: 16px;
	color: #1c5a04;
	font-weight: bold;
}
