/* This stylesheet is common to all webpages in the website */
/* This file must be linked from all webpages*/


/*BODY*/

html, body {
	margin:0;
	padding:0;
	height:100%;
	min-width: 950px; 
}

/*WRAPPER*/

#wrapper {
	min-width: 100%;
	width: 100%;
	font-family:Arial;
	background-color: white;
    margin: auto;
    text-align: center;
	position: relative;
}


/*HEADER*/

#header{
	margin: auto;
}

/*Header Top*/

#headertop {
	width: 70%;
	margin: auto;
	height: 100px;
	margin-bottom:5px;	
}

#loginlinks{
	float: right;
	padding-top: 80px;
	margin-right: 5px;
}

#login a {
	text-decoration:none;
	color: black;
	font-size: 9pt;
	font-family:Arial;
}

#login a:hover{
	color:#4db301;
}

#logo {
	float: left;
	padding-top: 30px;
	margin-left:3px;
}

/*Header Menu*/

#headermenu {
	background-color:#1c5a04;
	height:25px;
	padding-top:10px;
	padding-bottom: 0px;
		text-align:center;
	font-size:13px;
	
	
}

#headermenu a{
	color:white;
	text-decoration:none;
	padding-left:94px;
	padding-right:94px;
	border-right: solid;
	border-width: 0.3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#headermenu a:first-child{
	border-left: solid;
	border-width: 0.3px;
}

#headermenu a:hover{
	background-color: #0b4701;
}


/*BOOKMARK*/

#bookMarkdiv{
	width: 100%;
	text-align: center;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.bookmark{
	font-size: 12px;
	color: black;
	text-decoration: none;
	/*text-align: center;*/
	margin: auto;
	padding-left: auto;
	padding-right: auto;
	/*margin-bottom: 100px;
	padding-bottom: 100px;*/
	/*float: left;*/
}

.bookmark:hover{
	color: #4db301;
}




/*FOOTER*/

#footer {
	background-color: #1c5a04;
	text-align: center;
	color: white;
	font-size: 8pt;
	margin-top: 10px;
	padding-top: 0.5px;
	padding-bottom: 0.5px;
	width:100%;
	height:30px;
	/*position:absolute;	*/
	float: left;
	bottom:0;
	left:0;
}

#submit {
    margin-left: 25px;
	background-color: #1c5a04;
    border: none;
    color: white;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 4px;
}